body { color: #222; font-family: 'Linden Hill', serif; font-size: 35px; background-image: url(../images/Paper-Grunge-Background-22.jpg); background-size: cover; }

a { color: black; text-decoration: none; }
a:hover, a:active { color: black; }

h1 { font-size: 100px; text-align: center; }
h2 { font-size: 65px;  text-align: center; }
h3 { font-size: 40px;  text-align: center; }

.section { background-size: cover; }
.page { margin: -1em auto 0 auto; width: 50%; font-size: 45px; font-family: 'Linden Hill', serif; text-align: justify; }
.section .page:first-letter { font-family: 'rothenburg', script; font-size: 80px; margin-left: -15px; padding-right: 5px; }
.script { font-family: 'rothenburg', script; }

.fp-nav-vert { position: absolute; width: 100%; font-size: 40px; }
.fp-nav-vert a { display: block; text-align: center; text-decoration: none; cursor: pointer; }
.fp-nav-vert.up { top: 10px; display: none;}
.fp-nav-vert.down { bottom: 10px; }

.ribbon { position: absolute; width: 80px; top: 0px; right: 300px; padding: 0 0 20px 0; }
.ribbon div { background: #5d83c4; padding: 20px 0px; text-align: center; }
.ribbon a { color: #fff; }
.ribbon div:after {
    position: absolute; width: 0; height: 0; left: 0; bottom: 0; content: '';
    border-left: 40px solid #5d83c4;
    border-right: 40px solid #5d83c4;
    border-bottom: 20px solid transparent;
}

@font-face {
    font-family: 'rothenburg';
    src: url('../fonts/rothenburgdecorative/rothenbg-webfont.eot');
    src: url('../fonts/rothenburgdecorative/rothenbg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rothenburgdecorative/rothenbg-webfont.woff') format('woff'),
         url('../fonts/rothenburgdecorative/rothenbg-webfont.ttf') format('truetype'),
         url('../fonts/rothenburgdecorative/rothenbg-webfont.svg#rothenburg') format('svg');
    font-weight: normal;
    font-style: normal;
}
